.btn > button{
    margin-left: 600px;
    margin-top: 100px;
    padding: 20px;
}

.btn :hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}